<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>compruebaUsu</servlet-name>
        <servlet-class>Controlador.compruebaUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>Controlador.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaPedido</servlet-name>
        <servlet-class>Controlador.compruebaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaTelefono</servlet-name>
        <servlet-class>Controlador.compruebaTelefono</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compruebaUsu</servlet-name>
        <url-pattern>/compruebaUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaPedido</servlet-name>
        <url-pattern>/compruebaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaTelefono</servlet-name>
        <url-pattern>/compruebaTelefono</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
