<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>compruebaLogin</servlet-name>
        <servlet-class>Controller.compruebaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaOfertas</servlet-name>
        <servlet-class>Controller.compruebaOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaMenu</servlet-name>
        <servlet-class>Controller.compruebaMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaPizza</servlet-name>
        <servlet-class>Controller.compruebaPizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaEntrante</servlet-name>
        <servlet-class>Controller.compruebaEntrante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaHamburguesa</servlet-name>
        <servlet-class>Controller.compruebaHamburguesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaPasta</servlet-name>
        <servlet-class>Controller.compruebaPasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaEnsalada</servlet-name>
        <servlet-class>Controller.compruebaEnsalada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaBebida</servlet-name>
        <servlet-class>Controller.compruebaBebida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaPostre</servlet-name>
        <servlet-class>Controller.compruebaPostre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compruebaPedidos</servlet-name>
        <servlet-class>Controller.compruebaPedidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compruebaLogin</servlet-name>
        <url-pattern>/compruebaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaOfertas</servlet-name>
        <url-pattern>/compruebaOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaMenu</servlet-name>
        <url-pattern>/compruebaMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaPizza</servlet-name>
        <url-pattern>/compruebaPizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaEntrante</servlet-name>
        <url-pattern>/compruebaEntrante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaHamburguesa</servlet-name>
        <url-pattern>/compruebaHamburguesa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaPasta</servlet-name>
        <url-pattern>/compruebaPasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaEnsalada</servlet-name>
        <url-pattern>/compruebaEnsalada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaBebida</servlet-name>
        <url-pattern>/compruebaBebida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaPostre</servlet-name>
        <url-pattern>/compruebaPostre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compruebaPedidos</servlet-name>
        <url-pattern>/compruebaPedidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
